<h1>Calculate the cost of your package!</h1>
<form action=/"result">
  <div class="form-group">
    <label for="length">Length</label>
    <input type="text" name="length" id="length" class="form-control">

    <label for="width">Width</label>
    <input type="text" name="width" id="width" class="form-control">

    <label for="height">Height</label>
    <input type="text" name="height" id="height" class="form-control">

    <label for="distance">Distance</label>
    <input type="text" name="distance" id="distance" class="form-control">

    <label for="speed">Speed of Delivery</label>
    <input type="text" name="speed" id="speed" class="form-control">
  </div>
  <button class="submit" type="btn">Go!</button>
</form>
